# ------------------------------------------Task 1:---------------------------------------------

# Task 1-Q1.Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
#Task 1 Q1 solution
#Link :- https://github.com/diemscse/https-canvas.instructure.com-/blob/master/Screenshot%20(178).png

# Task 1-Q2.Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [91]:
#Task 1 Q2 solution (type1)
for b in range(2000,3201,1):
    if b%7==0 and b%5==0:
        print(b,end=', ')

2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695, 2730, 2765, 2800, 2835, 2870, 2905, 2940, 2975, 3010, 3045, 3080, 3115, 3150, 3185,

In [3]:
#Task 1 Q2 solution (type2)

nl=[]
for x in range(2000,3201,1):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

# Task 1 Q3. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [102]:
#Task 1 Q3 solution (type1)
FirstName=input("Enter your name: ")
LastName=input("Enter uour last name: ")
print(getLastName,getFirstName,sep=' ')

Enter your name: amol
Enter uour last name: kale
kale amol

In [101]:
#Task 1 Q3 solution (type2)

FirstName=input("Enter your name: ")
LastName=input("Enter uour last name: ")
print(getFirstName[::-1],getLastName[::-1],sep=' ')

Enter your name: amol
Enter uour last name: kale
 loma elak

# Task 1 Q.4 Write a Python program to find the volume of a sphere with diameter 12 cm.Formula: V=4/3 * Ï€ * r3

In [104]:
#Task 1 Q4 solution (type1)

import math
a=4/3*math.pi*6**3
print(a)

904.7786842338603

In [106]:
#Task 1 Q4 solution (type2)
a=(4/3)*3.1415926535897931*6**3
print(a)

904.7786842338603

# ------------------------------------------Task 2:---------------------------------------------

# Task 2 Q1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list

In [2]:
#Task 2 Q1 solution (type1)
print(list(input().split(",")))

1,2,3,4
['1', '2', '3', '4']

In [40]:
#Task 2 Q1 solution (type2)
i=input().split(",")

l=[]
for k in i:
    o=int(k)
    l.append(o)
l

1,2,3,4

[1, 2, 3, 4]

In [ ]:
#Task 2 Q2 Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
#Task 2 Q2 solution 
for i in range(0,5):
    for j in range(0,i):
        print('* ',end='')
    print('\n')
for j in range(5,0,-1):
    for i in range(j,0,-1):
        print('* ',end='')
    print('\n')

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

# Task 2- 3. Write a Python program to reverse a word after accepting the input from the user.  Sample Output:  Input word: AcadGild Output: dilGdacA

In [18]:
#Task 2 Q3 solution 
a=input("Input word: " )
print((a)[::-1])

Input word: AcadGild
dliGdacA

# Task 2- 4.Write a Python Program to print the given string in the format specified in the sample output.WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens Sample Output: WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, ! SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens

In [96]:
#Task 2 Q4 solution 
print("WE, THE PEOPLE OF INDIA," "\n\t having solemnly resolved to constitute India into a SOVEREIGN, !","\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC","\n\t\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
			 and to secure to all its citizens